@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

html {
    background-color: #181A18;
    color: #A1CCA5;
    overflow: hidden;
}

.fa-solid {
    transform: rotate(90deg);
    color: #A1CCA5;
}

/* Game Content */
h1 {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
}

.main-cont {
    position: absolute;
    top: calc(50vh - 340px);
    height: 680px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.game-cont {
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
}

/* Player Side */
.you-cont, .computer-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h2 {
    font-size: 2.3rem;
}

.player-choice, .comp-choice {
    height: 200px;
    width: 200px;
    border: 3px #A1CCA5 solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-mark {
    font-size: 9rem;
    font-weight: 200;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    width: 60px;
    height: 60px;
    border: 3px #A1CCA5 solid;
    border-radius: 10px;
    background-color: #181A18;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

button i {
    font-size: 2.5rem;
}

/* Computer Side */
.spacer {
    height: 60px;
}

.comp-choice-hand {
    transform: rotate(-90deg) scale(-1, 1);
}

.choice {
    font-size: 6rem;
}

.hide {
    display: none !important;
}

/* Center Stuff */
.center-txt {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vs {
    position: relative;
    top: -145px;
    font-size: 1.5rem;
}

#score {
    font-size: 1.5rem;
    position: absolute;
}

/* Round End */
.round-end {
    position: fixed;
    top: calc(50vh - 200px);
    left: calc(50vw - 250px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 99;
    width: 500px;
    height: 400px;
    background-color: #181A18;
    border-radius: 25px;
    border: 3px #A1CCA5 solid;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    opacity: 0.96;
}

.round-end h1 {
    font-weight: 600;
}

.end-score {
    display: flex;
    justify-content: space-between;
}

.end-score-you-cont, .end-score-comp-cont {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end-score-you-cont h2, .end-score-comp-cont h2 {
    font-size: 2rem;
    font-weight: 300;
}

.end-score-you-cont p, .end-score-comp-cont p {
    font-size: 1.5rem;
}

.round-end button {
    width: 200px;
    color: #A1CCA5;
    font-size: 2rem;
}

.round-end button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .main-cont {
        height: 202px;
        top: calc(50vh - 171px);
    }

    .game-cont {
        gap: 0;
    }

    .player-choice, .comp-choice {
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }

    .selection {
        gap: 15px;
        position: absolute;
        top: 212px;
        left: calc(50vw - 150px);
        z-index: 99;
        
    }

    button {
        width: 90px;
        height: 60px;
    }

    .spacer {
        display: none;
    }

    .question-mark {
        font-size: 5rem;
    }

    .choice {
        font-size: 4rem;
    }

    .vs {
        font-size: 1rem;
        top: -55px;
    }

    button:hover {
        transform: scale(1);
    }

    button .fa-solid {
        font-size: 2rem;
    }

    #score {
        font-size: 1rem;
        text-align: center;
        top: 135px;
    }

    .round-end {
        width: 300px;
        left: calc(50vw - 150px);
    }

    .end-score {
        flex-direction: column;
        gap: 15px;
    }

    .end-score-you-cont, .end-score-comp-cont {
        width: 150px;
        border: 1px #A1CCA5 solid;
        border-radius: 20px;
    }

    .end-score-you-cont h2, .end-score-comp-cont h2 {
        font-size: 1.5rem;
    }
}